*, ::before, ::after{
	margin: 0;
	padding: 0;
}

/* body {
	background-color: white;
	font-family: sans-serif;
	font-weight: 900;
	font-style: italic;
	height: 100vh;
} */

body {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	/* font-family: 'Bitter', serif; */


	/* overflow: hidden; */
	background-color: rgb(252, 248, 246);
	
	/* user-select: none; */
}

.crt {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(180, 200, 220, 0.05) 50%,
        rgba(200, 200, 200, 0.1) 50%
    );
    background-size: 100% 4px;
    z-index: 2;
	pointer-events: none;
}

/* ============================================= */
/* ============================================= */

#header_panel {
	position: sticky;
  	top: 0;
  	overflow: hidden;
	padding: 10px;
	width: 60%;
	margin: auto;
	background-color: rgb(252, 248, 246);
	user-select: none;
	z-index: 2;
}

.link {
	display: inline-block;
	/* padding-left: 10px;
	padding-right: 10px; */
	margin-right: 10px;
	text-decoration: none;
	color: black;
	/* border: 1px solid black;
	border-radius: 10px; */
	font-size: 22px;
	line-height: 22px;
	/* font-weight: bold; */
	/* font-style: italic; */
}

.link:hover {
	/* text-decoration: underline; */
	color: orangered;
	/* background-color: rgb(240,240,240); */
}

/* ============================================= */
/* ============================================= */

#center_panel {
	width: 60%;
	margin: auto;
	margin-top: 5%;
	font-size: 22px;
	text-align: left;
}

/* ============================================= */
/* ============================================= */

#nav {
	/* border-bottom: 1px dashed black; */
	/* background-color: red; */

	/* font-family: 'Courier', serif; */

	user-select: none;

	/* border-bottom: 1px solid black;
	padding-bottom: 2%; */
}

#nav-header {
	font-size: 18px;
	font-style: italic;
	/* font-weight: bold; */
	margin-top: 2%;
}

.nav-link {
	display: inline-block;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	margin-right: 10px;
	/* text-decoration: none; */
	/* font-weight: bold; */
	color: black;
	/* border: 1px solid black;
	border-radius: 10px; */
	font-size: 18px;
	line-height: 32px;
	
	/* font-style: italic; */
}

.nav-link:hover {
	/* text-decoration: underline; */
	color: orangered;
	/* background-color: rgb(240,240,240); */
}

/* ============================================= */
/* ============================================= */

#blog {
	/* border-top: 1px solid black;
	padding-top: 2%; */
	margin-top: 2%;
	font-size: 18px;
	text-align: left;
	line-height: 28px;
	padding-bottom: 28px;

	font-family: "Lora", sans-serif;
}

h1, h2, h3, h4 {
	font-size: 18px;
	line-height: 40px;
	margin-top: 2%;
	font-weight: 600;
}

p {
	font-size: 18px;
	line-height: 32px;
	margin-top: 2%;
}

/* ============================================= */
/* ============================================= */

#board_panel {
	display: inline-block;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 32px;
	border: 1px solid grey;
}

/* ============================================= */
/* ============================================= */

#xp_panel {
	display: inline-block;
	position: fixed;
	bottom: 0;
	/* border: 1px solid grey; */
	/* vertical-align: middle; */
	/* border: 1px solid grey; */
}

#xp_border {
	display: inline-block;
	width: 100vw;
	border-top: 2px solid black;
	/* border-radius: 3px; */
	background-color: rgba(0, 0, 0, 0.8);
	
	vertical-align: bottom;
}

#xp_div {
	height: 4px;
	border-radius: 1px;
	/* background-color: rgb(235, 60, 75);
	border-right: 2px solid rgb(255, 90, 105); */
	background-color: rgb(255, 200, 15);
	border-right: 2px solid rgb(255, 120, 35);
	
	border-radius: 0px 25px 25px 0px;
}

/* ============================================= */
/* ============================================= */

#map_panel {
	display:block;

	margin: auto;

	width: 95vw;
	height: 95vh;

	/* border: 1px solid black; */
	/* border-radius: 50%; */
}

.mapTitle {
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	padding: 5px;
	/* border: 1px solid black; */
}

.nodeEntry {
	position: absolute;
	/* display: flex;
	align-items: center;
	justify-content: center; */

	width: 8px;
	height: 8px;
	border-radius: 50%;
	
	/* border: 1px solid black; */
	background-color: black;
}

.keyIcon {
	/* color: red;
	text-align: center;
	font-size: 16px;
	line-height: 16px; */
}

.keyWhat {
	position: absolute;

	margin-top: 12px;
	margin-left: -46px;
	width: 100px;

	height: 12px;
	line-height: 12px;
	font-size: 10px;
	
	text-align: center;

	overflow: hidden;

	/* color: rgb(170, 170, 170); */
	color: black;
	/* background-color: rgba(255,255,255,1); */

	z-index: 1;
	pointer-events: none;
	
	/* border: 1px solid rgb(170, 170, 170);
	border-radius: 20px; */
}

/* ============================================= */
/* ============================================= */

.nodeEntry:hover .nodeInfo {
	display: block;
}

.nodeInfo {
	display: none;
	position: absolute;
	margin-top: 25px;

	width: 150px;
	padding: 5px;

	text-align: left;

	border: 1px solid black;
	/* border-radius: 3px; */
	background-color: white;
	
	z-index: 2;
}

.infoKeyWhat {
	font-size: 18px;
}

.infoKeyInfo {
	font-style: italic;
	font-size: 18px;
}

/* ============================================= */
/* ============================================= */

#key_panel {
	display: flex;
	/* flex: 4; */
	/* width: 95vw; */
	margin: auto;
	margin-top: 5px;
	/* border: 1px solid black; */
}

#keyClose, #keyFar, #keySky, #keyEarth {
	flex: 4;
	text-align: center;
}

/* ============================================= */
/* ============================================= */

#info_panel {
	display:block;

	margin: auto;
	margin-top: 20px;

	/* width: 95vw; */
	
	/* border: 1px solid black; */
	/* border-radius: 50%; */
}

#map_title {
	/* font-size: 18px; */
	font-weight: bold;
}

#process_panel {
	/* font-size: 18px; */
	/* font-style: italic; */
}

/* ============================================= */
/* ============================================= */

#dictionary_panel {
	display:block;

	margin: auto;
	margin-top: 10px;

	/* width: 95vw; */
	
	/* border: 1px solid black; */
	/* border-radius: 50%; */
}

.semanticEntry {
	/* display: inline-block; */
	margin-top: 20px;
	/* margin-right: 5px; */
	/* padding: 5px; */
	
	/* border: 1px solid black; */
}

.semanticInfo {
	/* font-size: 14px; */
	font-style: italic;
}

/* ============================================= */
/* ============================================= */

.rayEntry {
	position: absolute;
	/* background-color: rgba(130, 170, 230, 0.6); */
	/* border: 1px dashed rgba(130, 170, 230, 0.6); */
	pointer-events: none;
	height: 0.5px;
	/* border-radius: 15px; */
}

/* ============================================= */
/* ============================================= */

@media only screen and (max-device-width: 800px) {
	#center_panel {
		width: 90%;
	}

	#header_panel {
		width: 100%;
		padding: 30px;
	}

	.link {
		font-size: 48px;
		/* border-bottom: 1px dashed black; */
	}

	#nav {
		line-height: 60px;

		font-size: 42px;
	}

	#nav-header {
		font-size: 42px;
	}

	.nav-link {
		font-size: 42px;
		line-height: 42px;
	}

	#blog {
		font-size: 42px;
		line-height: 60px;
	}

	h1, h2, h3, h4 {
		font-size: 42px;
		line-height: 60px;
		margin-top: 6%;
	}

	p {
		font-size: 42px;
		line-height: 60px;
		margin-top: 6%;
	}

	#map_panel {
		width: 95vw;
		height: 95vw;	
	}

	.keyWhat {
	position: absolute;

	margin-top: -24px;
	margin-left: -75px;
	width: 150px;

	height: 20px;
	line-height: 20px;
	font-size: 18px;
	
	text-align: center;

	overflow: hidden;

	background-color: white;

	z-index: 1;
	pointer-events: none;
	
	/* border: 1px solid black; */
	}
}
